async-lru==1.0.2
click==8.0.1
colorama==0.4.4
Flask==2.0.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pyaes==1.6.1
Pyrogram==1.2.9
PySocks==1.7.1
Werkzeug==2.0.1
